@using LuanVan_ShopDongHo.Models;
@using PagedList.Mvc;
@{
    ViewBag.Title = "QuanLyNhanVien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model NHANVIEN

<h2 style="color: brown; font-weight: 800">Quản lý nhân viên</h2>
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-XanhLuc mt-4" data-bs-toggle="modal" data-bs-target="#myModalAddNhanVien" style="text-transform: uppercase; font-weight: bold;">
                <i class="fas fa-plus"></i>
                Thêm nhân viên mới
            </a>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Trạng thái</label>
                @Html.DropDownListFor(model => model.TRANGTHAI, new SelectList(ViewBag.dsTT, "Value", "Text", ViewBag.trangThai), new { @class = "form-control", @id = "trangThaiNVFilter", @style = "border-radius: 10px;" })
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-XanhLuc mt-4" style="text-transform: uppercase; font-weight: bold;" id="btnFilterNV">
                <i class="fas fa-search"></i>
                Tìm kiếm
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <table class="table table-bordered table-hover">
            <tr class="tr-Title">
                <th>STT</th>
                <th>Mã nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Điện thoại</th>
                <th>Số CMND</th>
                <th>Địa chỉ</th>
                <th>Tên đăng nhập</th>
                <th>Thao tác</th>
            </tr>
            @{
                int dem = 0;
                int pageNum = ViewBag.pageNum;
                int pageSize = ViewBag.pageSize;
                dem = (pageNum - 1) * pageSize;
            }
            @foreach (var item in ViewBag.dsNV)
            {
                dem++;
                <tr>
                    <td>@dem</td>
                    <td>@item.MANV</td>
                    <td>@item.TENNV</td>
                    <td>@item.GIOITINH</td>
                    <td>@string.Format("{0: dd/MM/yyyy}", item.NGAYSINH)</td>
                    <td>@item.DIENTHOAI</td>
                    <td>@item.SOCMND</td>
                    <td>@item.DIACHI</td>
                    <td>@item.TENDN</td>
                    <td>
                        @if (item.TRANGTHAI == false)
                        {
                            <button class="btn btn-success" id="@item.MANV" onclick="GetNhanVien(this)"><i class="fas fa-edit"></i></button>
                            <button class="btn btn-danger" id="@item.MANV" onclick="GetIDNhanVienDelete(this)" data-bs-toggle="modal" data-bs-target="#myModalDeleteNhanVien"><i class="fas fa-trash"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-primary" id="@item.MANV" onclick="KhoiPhucNhanVien(this)"><i class="fas fa-trash-restore"></i></button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="spacer20">
    <center>
        <div class="pagination">
            @Html.PagedListPager((PagedList.IPagedList)ViewBag.dsNV, page => Url.Action("QuanLyNhanVien", new { page, @class = "active", trangThai = ViewBag.trangThai }))
        </div>
    </center>
</div>

<!-- Modal thêm nhân viên-->
<div class="modal fade" id="myModalAddNhanVien" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="font-weight: bold; text-transform: uppercase">Thêm nhân viên mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Mã nhân viên</label>
                    <input type="text" id="maNVThem" class="form-control" />
                    <span id="maNVThemVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Tên nhân viên</label>
                    <input type="text" id="tenNVThem" class="form-control" />
                    <span id="tenNVThemVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Giới tính</label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="gioiTinhNVThemNam" name="gioiTinhNVThem" value="Nam" />&nbsp;<label for="gioiTinhNVThemNam">Nam</label>&nbsp;&nbsp;
                    <input type="radio" id="gioiTinhNVThemNu" name="gioiTinhNVThem" value="Nữ" />&nbsp;<label for="gioiTinhNVThemNu">Nữ</label><br />
                    <span id="gioiTinhNVThemVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Ngày sinh</label>
                    <input type="date" id="ngaySinhNVThem" class="form-control" />
                    <span id="ngaySinhNVThemVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Điện thoại</label>
                    <input type="number" id="sdtNVThem" class="form-control" />
                    <span id="sdtNVThemVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" id="diaChiNVThem" class="form-control" />
                    <span id="diaChiNVThemVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Số CMND</label>
                    <input type="number" id="soCMNDNVThem" class="form-control" />
                    <span id="soCMNDNVThemVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    @Html.DropDownListFor(model => model.TENDN, new SelectList(ViewBag.dsTK, "TENDN", "TENDN"), new { @class = "form-control", @id = "tenDNNVThem" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-XanhLuc" id="btnThemNhanVien">Thêm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!--End modal thêm nhân viên-->
<!-- Modal cập nhật nhân viên-->
<div class="modal fade" id="myModalEditNhanVien" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="font-weight: bold; text-transform: uppercase">Cập nhật nhân viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Mã nhân viên</label>
                    <input type="text" id="maNVSua" class="form-control" disabled="disabled" />
                    <span id="maNVSuaVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Tên nhân viên</label>
                    <input type="text" id="tenNVSua" class="form-control" />
                    <span id="tenNVSuaVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Giới tính</label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="gioiTinhNVSuaNam" name="gioiTinhNVThem" value="Nam" />&nbsp;<label for="trangThaiTKSua">Nam</label>&nbsp;&nbsp;
                    <input type="radio" id="gioiTinhNVSuaNu" name="gioiTinhNVThem" value="Nữ" />&nbsp;<label for="trangThaiTKSua">Nữ</label><br />
                    <span id="gioiTinhNVSuaVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Ngày sinh</label>
                    <input type="date" id="ngaySinhNVSua" class="form-control" />
                    <span id="ngaySinhNVSuaVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Điện thoại</label>
                    <input type="number" id="sdtNVSua" class="form-control" />
                    <span id="sdtNVSuaVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" id="diaChiNVSua" class="form-control" />
                    <span id="diaChiNVSuaVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Số CMND</label>
                    <input type="number" id="soCMNDNVSua" class="form-control" />
                    <span id="soCMNDNVSuaVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    @Html.DropDownListFor(model => model.TENDN, new SelectList(ViewBag.dsTK, "TENDN", "TENDN"), new { @class = "form-control", @id = "tenDNNVSua" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-XanhLuc" id="btnCapNhatNhanVien">Cập nhật</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!--End modal cập nhật nhân viên-->
<!-- Modal xóa nhân viên-->
<div class="modal fade" id="myModalDeleteNhanVien" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="font-weight: bold; text-transform: uppercase">Xóa nhân viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" hidden="hidden" id="idNhanVienDelete" value="" />
                    <p>Bạn có chắc chắn muốn xóa nhân viên này không</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-Do" id="btnXoaNhanVien">Xóa</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!--End modal xóa nhân viên-->


<script type="text/javascript">
    $('#btnFilterNV').click(function (e) {
        e.preventDefault();
        var url = window.location.origin + "/NhanVien/QuanLyNhanVien?&trangThai=" + $('#trangThaiNVFilter').val();
        window.location = url;
    })
</script>