@using LuanVan_ShopDongHo.Models;
@{
    ViewBag.Title = "ThongTinTaiKhoanKH";
    Layout = "~/Views/Shared/_LayoutChiTiet.cshtml";
}
@model TAIKHOAN


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text" value="@ViewBag.kh.IDKhachHang" hidden="hidden" />
            <h2 style=" font-weight: 800">Thông tin tài khoản</h2>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <p style="font-size: 20px; font-weight: bold; text-align: right">Họ tên</p>
                </div>
                <div class="col-md-10">
                    <p style="font-size: 20px">@ViewBag.kh.TENKH</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p style="font-size: 20px; font-weight: bold; text-align: right">Ngày sinh</p>
                </div>
                <div class="col-md-10">
                    <p style="font-size: 20px">@string.Format("{0: dd/MM/yyyy}", ViewBag.kh.NGAYSINH)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p style="font-size: 20px; font-weight: bold; text-align: right">Giới tính</p>
                </div>
                <div class="col-md-10">
                    <p style="font-size: 20px">@ViewBag.kh.GIOITINH</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p style="font-size: 20px; font-weight: bold; text-align: right">Điện thoại</p>
                </div>
                <div class="col-md-10">
                    <p style="font-size: 20px">@ViewBag.kh.SDT</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p style="font-size: 20px; font-weight: bold; text-align: right">Số CMND</p>
                </div>
                <div class="col-md-10">
                    <p style="font-size: 20px">@ViewBag.kh.SOCMND</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p style="font-size: 20px; font-weight: bold; text-align: right">Địa chỉ</p>
                </div>
                <div class="col-md-10">
                    <p style="font-size: 20px">@ViewBag.kh.DIACHI</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p style="font-size: 20px; font-weight: bold; text-align: right">Tên đăng nhập</p>
                </div>
                <div class="col-md-10">
                    <p style="font-size: 20px">@ViewBag.kh.TENDN</p>
                </div>
            </div>
            <button class="btn btn-primary" id="btnDoiMatKhau" data-toggle="modal" data-target="#myModalDoiMatKhau"><i class="fas fa-lock"></i> Đổi mật khẩu</button>
            <a class="btn btn-success ml-3" id="btnCapNhatThongTinKH" href="/KhachHang/CapNhatThongTinKH/?idKhachHang=@ViewBag.kh.IDKhachHang"><i class="fas fa-edit mr-2"></i>Cập nhật thông tin</a>
        </div>
    </div>
    <div>

    </div>
</div>


<!-- Modal đổi mật khẩu-->
<div class="modal fade" id="myModalDoiMatKhau" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="font-weight: bold; text-transform: uppercase">Đổi mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Mật khẩu cũ</label>
                    <input type="password" id="matKhauCu" class="form-control" />
                    <span id="matKhauCuVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Mật khẩu mới</label>
                    <input type="password" id="matKhauMoi" class="form-control" />
                    <span id="matKhauMoiVL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Xác nhận mật khẩu</label>
                    <input type="password" id="xacNhanMatKhau" class="form-control" />
                    <span id="xacNhanMatKhauVL" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnDoiMatKhauTaiKhoan">Đổi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!--End modal đổi mật khẩu-->

<script>
    $('#btnDoiMatKhauTaiKhoan').on('click', function (e) {
        var matKhauCu = $('#matKhauCu').val();
        var matKhauMoi = $('#matKhauMoi').val();
        var xacNhanMatKhau = $('#xacNhanMatKhau').val();

        var dieuKien1 = true;
        var dieuKien2 = true;
        var dieuKien3 = true;

        if (matKhauCu == '') {
            document.getElementById('matKhauCuVL').innerHTML = "Mật khẩu cũ không được bỏ trống";
            $('#matKhauCu').css('border-color', 'red');
            dieuKien1 = false;
            e.preventDefault();
        }
        else {
            document.getElementById('matKhauCuVL').innerHTML = "";
            $('#matKhauCu').css('border-color', '');
        }

        if (matKhauMoi == '') {
            document.getElementById('matKhauMoiVL').innerHTML = "Mật khẩu mới không được bỏ trống";
            $('#matKhauMoi').css('border-color', 'red');
            dieuKien2 = false;
            e.preventDefault();
        }
        else {
            document.getElementById('matKhauMoiVL').innerHTML = "";
            $('#matKhauMoi').css('border-color', '');
            dieuKien2 = true;
        }

        if (xacNhanMatKhau == '') {
            document.getElementById('xacNhanMatKhauVL').innerHTML = "Mật khẩu xác nhận không được bỏ trống";
            $('#xacNhanMatKhau').css('border-color', 'red');
            dieuKien3 = false;
            e.preventDefault();
        }
        else {
            document.getElementById('xacNhanMatKhauVL').innerHTML = "";
            $('#xacNhanMatKhau').css('border-color', '');
            dieuKien3 = true;
            if (xacNhanMatKhau != matKhauMoi) {
                document.getElementById('xacNhanMatKhauVL').innerHTML = "Mật khẩu xác nhận không trùng khớp";
                $('#xacNhanMatKhau').css('border-color', 'red');
                dieuKien3 = false;
                e.preventDefault();
            }
            else {
                document.getElementById('xacNhanMatKhauVL').innerHTML = "";
                $('#xacNhanMatKhau').css('border-color', '');
                dieuKien3 = true;
            }
        }


        if (dieuKien1 && dieuKien2 && dieuKien3) {
            $.ajax({
                url: "/KhachHang/DoiMatKhau",
                type: "POST",
                data: JSON.stringify({
                    matKhauMoi: matKhauMoi,
                    matKhauCu: matKhauCu,
                }),
                dataType: "Json",
                contentType: "application/json; charset = utf-8",
                success: function (res) {
                    if (res.kq) {
                        alert(res.message);
                        window.location.reload();
                    }
                    else {
                        alert(res.message)
                    }
                },
                error: function (e) {
                    alert(e.responseText);
                }
            });
        }
    })
</script>